{% extends 'base.html.twig' %}

{% block title %} UFO OVNI {% endblock %}

{% block body %}
    <div id="wrapper" class="fade-in">
        <nav id="nav">
            <ul class="links">
                <li class="active"><a href="index.html">EL MUNDO OVNI</a></li>
                <li><a href="generic.html">Generic Page</a></li>
                <li><a href="elements.html">Elements Reference</a></li>
            </ul>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>

        <div id="main">
            <article class="post featured">
                <header class="major">
                    <span class="date">2 de Julio de 1947</span>
                    <h2><a href="#">CASO<br/>
                            ROSWELL</a></h2>
                    <p>Un OVNI se estrelló en Roswell, Nuevo México, en el suroeste de los Estados Unidos<br/>
                        en un rancho cercano y que los restos fueron recuperados<br/>
                        por el Ejército de los Estados Unidos.</p>
                </header>
                <a href="#" class="image main"><img src="images/pic01.jpg" alt=""/></a>
                <ul class="actions special">
                    <li><a href="#" class="button large">Historia completa</a></li>
                </ul>
            </article>

            <section class="posts">
                <article>
                    <header>
                        <span class="date">10 de Noviembre de 2004</span>
                        <h2><a href="#">EL OVNI<br/>
                                TIC TAC</a></h2>
                    </header>
                    <a href="#" class="image fit"><img src="images/pic02.png" alt=""/></a>
                    <p>Pilotos de la Marina de los Estados Unidos frente a la costa de San Diego, California
                        vieron un objeto en forma de "Tic Tac" que se movía a altas velocidades y realizaba maniobras
                        aéreas increíbles.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button">Historia completa</a></li>
                    </ul>
                </article>
                <article>
                    <header>
                        <span class="date">Enero de 2015</span>
                        <h2><a href="#">GO FAST<br/>
                                UFO</a></h2>
                    </header>
                    <a href="#" class="image fit"><img src="images/pic03.png" alt=""
                                                       style="width:60%;height:100%;display:block;margin-left:auto;margin-right:auto;"></a>
                    <p>El Departamento de Defensa de los Estados Unidos capturó un objeto en forma de disco que se mueve a través del cielo
                        a una velocidad increíble sin fuente visible de propulsión.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button">Historia completa</a></li>
                    </ul>
                </article>
                <article>
                    <header>
                        <span class="date">2018</span>
                        <h2><a href="#">OVNI de<br/>
                                The Debrief</a></h2>
                    </header>
                    <a href="#" class="image fit"><img src="images/pic04.png" alt=""></a>
                    <p>Una fotografía extremadamente clara de un objeto triangular plateado no identificable que emergió del océano
                        frente a un piloto de combate F/A-18 Hornet a 35.000 pies</p>
                    <ul class="actions special">
                        <li><a href="#" class="button">Historia Completa</a></li>
                    </ul>
                </article>
                <article>
                    <header>
                        <span class="date">22 de Octubre de 2022 - 17:00hs</span>
                        <h2><a href="#">El Sol de<br/>
                                San Juan del Río</a></h2>
                    </header>
                    <a href="#" class="image fit"><img src="images/pic05.png" alt=""/></a>
                    <p>La gente observo en el cielo una extraña esfera voladora
                        meverse 80km sobre el terrono de Hidalgo, México.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button">Historia Completa</a></li>
                    </ul>
                </article>
                <article>
                    <header>
                        <span class="date">4 de Abril de 2020</span>
                        <h2><a href="#">Luz con forma<br/>
                                de circunferencia</a></h2>
                    </header>
                    <a href="#" class="image fit"><img src="images/pic06.png" alt=""/></a>
                    <p>Objeto visto en Alicante, México y Inglaterra que brilla más intenso que una estrella,
                        aparece y desaparece y cambia de tamaño en segundos.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button">Historia Completa</a></li>
                    </ul>
                </article>
                <article>
                    <header>
                        <span class="date">April 7, 2017</span>
                        <h2><a href="#">OVNI lata<br/>
                                en Alemania</a></h2>
                    </header>
                    <a href="#" class="image fit"><img src="images/pic07.png" alt="" style="width:90%;height:100%;"></a>
                    <p>El aeropuerto de Bremen, al norte de Alemania, canceló varios vuelos después de que un objeto desconocido apareciera en los radares.
                        El objeto desapareció después de tres horas sin que pudiera ser identificado.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button">Historia Completa</a></li>
                    </ul>
                </article>
            </section>

            <footer>
                <div class="pagination">
                    <a href="#" class="page active">1</a>
                    <span class="extra">&hellip;</span>
                    <a href="#" class="next">Next</a>
                </div>
            </footer>

        </div>

        <footer id="footer">
            <section class="split contact">
                <section>
                    <h3>Social</h3>
                    <ul class="icons alt">
                        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
                        </li>
                        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                    </ul>
                </section>
            </section>
        </footer>

        <div id="copyright">
            <ul>
                <li>&copy; OVNI UFO</li>
                <li>Design: <a href="https://www.instagram.com/gadielma">GRM</a></li>
            </ul>
        </div>

    </div>
{% endblock %}
